:root {
    --bg-color:#191a21;
    --border-color: #f6cfca;
    --subtitle-color:#ffe8e5;
    --link-color:#ebc2ce;
    --roseWhite: #ffe8e5;
    --rose1: #f6cfca;	
    --rose2:#eabfb9;
    --rose-dark:#b86b77;
    --rose3: #e5a298;
    --shadow: rgb(3, 3, 3);
    --purple: #d0b6e3;
       
      
      
      
  }
  
  @font-face {
    font-family: 'CoffeCake'; /*a name to be used later*/
    src: url('fonts/coffecake/CoffeCake.ttf'); /*URL to font*/
  }
  
  html {
    padding:0;
    color: var(--roseWhite);
    
    /*background: linear-gradient(60deg, rgb(252, 173, 248) 0%,rgb(212, 11, 98) 30%,rgb(233, 99, 157) 40%,rgb(199, 113, 78) 50%, rgb(219, 164, 101) 60%, rgba(148,187,233,1) 100%); 
    */
    background-color: #9198e5;
    
    background-size:contain;                      /* <------ */
    background-repeat:no-repeat;
    height: 100vh;
    background-position: right;
    /*background-color: #191a21;
    max-width: 700px;*/
    
  }

  body a {
    color:var(--link-color);

  
  }
  header {
    /*background-clip: text ;*/
    /*background-image:url('images/road.jpg');
    background-image:url('backgrounds/bgif095.gif');
    
    box-shadow: 20px 20px 5px rgb(3, 3, 3);
    transition:0.3s;
    
    
    */
    
  
    display:flex;
    /*
    margin-left: auto;
    margin-right: auto;
    border-radius: 20%;*/
  
  }
  
  header > p{
    /*padding-top: 75px;*/
    padding-left: 250px;
    margin-top: 30px;
    font-size:150px ; 
    display: flex;
    font-family:'Courier New', Courier, monospace; 
  
    transition: 0.5s;
    color: transparent;
    text-shadow:25px 25px 10px var(--shadow);
    /*color: var(--bg-color);
    
     /*#e0215a
     text-shadow: 0px 0px 0px #b86b95, 15px 15px 0px var(--shadow);*/ 
     animation-name: float;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
  }
  
  
  .flex {
    display:flex;
    justify-content: center;
  }
  
  article {
    background-color: #191a21;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border:1px solid var(--border-color);
    max-width:600px;
    box-shadow: 10px 10px 5px rgb(3, 3, 3);
  
    transition: 0.3s;
    
  }
  .subtitle {
    /*color:var(--subtitle-color);*/
    font-size:20px;
    font-weight:bold;
    font-family:CoffeCake ;
    border-bottom:2px solid var(--subtitle-color);
    margin-left:10px;
    margin-right:10px;
    text-align:right;
    padding-top:20px;
  }
  h1, h2, h3, a{
    font-family:CoffeCake ;
  }
  article > p, h4, a {
      padding:10px;
      padding-left:20px;
  }
  
  
  main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  main > a{
    font-size: medium;
  }

  footer {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:12px;
    align-self: self-end;
    background-color:transparent;
    padding: 20px;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  
  
  @keyframes float {
    0% { transform: translate(0,  0px); }
    50%  { transform: translateY(15px); }
    100%   { transform: translateY(-0px); }    
  }
  
  
  a:hover{
    color: #e0215a;
    
  }
 
  
  
  button{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 14px;
    border: none;
    background-color: transparent;
    color:white;
  
  }
  
  button:hover{
    background-color: #323238;
  }
  




.draggable {
  position: absolute;
  cursor: grab;
  user-select: none;
}

.draggable.dragging {
  cursor: grabbing;
}
