:root {
  --bg-color:#191a21;
  --border-color: #f6cfca;
  --subtitle-color:#ffe8e5;
  --link-color:#79646a;
  --roseWhite: #ffe8e5;
  --rose1: #f6cfca;	
  --rose2:#eabfb9;
  --rose-dark:#b86b77;
  --rose3: #e5a298;
  --shadow: rgb(3, 3, 3);
  --purple: #d0b6e3;
}

@font-face {
  font-family: 'CoffeCake'; /*a name to be used later*/
  src: url('fonts/coffecake/CoffeCake.ttf'); /*URL to font*/
}

html, body {
  padding:0;
  color: var(--roseWhite);
  background-attachment:fixed;
  background-color: #191a21 ;
  /*max-width: 700px;*/
  margin: auto;
}
body a {
  color:var(--link-color);

}
header {
  font-family:'Courier New', Courier, monospace; 
  height:250px;
  justify-content: center;
  display:flex;
  background: linear-gradient(60deg, rgba(238,174,202,1) 0%,rgb(233, 99, 157) 30%, rgb(219, 164, 101) 60%, rgba(148,187,233,1) 100%); 


}
.header-text{
  color:var(--roseWhite);
  margin-top: 30px;
  font-size: 10vw ; 

  transition: 0.5s;
   animation-name: float;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

header > p{
  color:var(--bg-color);
  font-size: 2vw ; 
  margin-top: 60px;
}



.flex {
  display:flex;
  justify-content: center;
}
.sidebar {
  
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width:250px;
  width:200px;
  height:90vh;
  border:1px solid var(--border-color);
  display: block;
  position:relative;
  /*margin-top: 20px;*/
  z-index:1;
  box-shadow: 10px 10px 5px rgb(3, 3, 3);
  
}

.smallbar {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width:250px;
  width:200px;
  border:1px solid var(--border-color);
  width:fit-content;
  height:fit-content;
  display: block;
  position:relative;
  margin-top: 300px;
  box-shadow: 10px 10px 5px rgb(3, 3, 3);


}

.nowPlaying {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:var(--bg-color);
  width:fit-content;
  height:min-content;
  border:1px solid var(--border-color);
  position:absolute;
  right:2%;
  top: 40px;
  box-shadow: 10px 10px 5px rgb(3, 3, 3);


}
article {
  
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border:1px solid var(--border-color);
  max-width:600px;
  margin-top:20px;
  margin-left:10px;
  margin-right:10px;
  box-shadow: 10px 10px 5px rgb(3, 3, 3);

  transition: 0.3s;
  
}
.subtitle {

  /*color:var(--subtitle-color);*/
  font-size:20px;
  font-weight:bold;
  font-family:CoffeCake ;
  border-bottom:2px solid var(--subtitle-color);
  margin-left:10px;
  margin-right:10px;
  text-align:right;
  padding-top:20px;
}
h1, h2, h3{
  font-family:CoffeCake ;

}
article > p, h4, a {
    padding:10px;
    padding-left:20px;
}
article:hover{
  transform:scale(1.05);

}


.links {
  font-size:16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:var(--link-color);
  letter-spacing:1px;
}
main {
  /*margin-top:-21px;*/
  left: 150px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main > a{
  font-size: medium;
}
section > p {
  padding:10px;
}

footer {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  display: flex;
  font-size:15px;

}

 @media only screen and (max-width: 630px) {
   .sidebar {
     position:relative;
     max-width:100%;
     width:100%;
     height:150px;
     display:flex;
     flex-direction:row;
     flex-wrap:wrap;
     overflow:hidden;
   }
   .rightbar {
    position:relative;
    max-width:100%;
    width:0%;
    height:150px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    overflow:hidden;
  }
   .flex {
     flex-wrap:wrap;
     flex-direction:row;
   }
   .right {
     order:1;

   }
   .left {
     order:2;
     left: 20px;
   }
   section {
    
     display:flex;
     flex-wrap:wrap;
     width:120px;
   }
}

ul.pixelbullets {
    list-style-image: url("gifs/star51.gif");
    
  }
  

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.duckie{
  transition:0.3s;
}
.duckie:hover{
  transform: scale(0.7);

}

@keyframes float {
  0% { transform: translate(0,  0px); }
  50%  { transform: translateY(15px); }
  100%   { transform: translateY(-0px); }    
}


a:hover{
  color: #e0215a;
  
}


.divider{
  display: flex;
  height: 45px;
  background-image:url('dividers/3.png' );
  background-repeat: repeat-x;
  background-size:600px;
  margin-bottom: 2cm;

}


html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-thumb {
  border-radius: 8px;
  
  background-color: rgb(9, 172, 221) ; 
  border: 1px solid #191a21;
}

